.Services {
    width: 100%;
    padding: 70px 0;
}

.Services .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.Services .row .item {
    width: 23%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);      padding-left: 36px;  border: solid 1px #e8e8e8;
    height: 100px;
    display: flex;
    align-items: center;
}

.Services .row .item .ItemLeft{
    margin-right: 24px;
}

.Services .row .item .ItemRight h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.Services .row .item .ItemRight h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    margin-top: 3px;
}